<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Expenses</title>
    <link rel="stylesheet" href="/css/expense.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1>All Expenses</h1>
    <a href="/create-expense">Create New Expense</a>
    <div class="Card_Container">
      <% expenses.forEach(el => { %>
      <div class="card">
        <h2>Id: <%= el.id %></h2>
        <h2>Category: <%= el.category %></h2>
        <h2>Price: <%= el.price %></h2>
        <a href="/expense-list/<%= el.id %>">Show details</a>
        <button onclick="deleteExpense('<%= el.id %>')">Delete</button>
        <a href="/expense-update/<%= el.id %>">Update</a>
      </div>
      <% }) %>
    </div>

    <div>
      <% if (page > 1) { %>
      <a href="/expense-list?page=<%= page - 1 %>&limit=<%= limit %>"
        >Previous</a
      >
      <% } %> <% if (page < totalPages) { %>
      <a href="/expense-list?page=<%= page + 1 %>&limit=<%= limit %>">Next</a>
      <% } %>
    </div>

    <%- include('../partials/footer') %>

    <script src="/src/public/ts/deleteExpense.ts"></script>
  </body>
</html>
